In [2]:
import pandas as pd 
import numpy as np

In [3]:
scoring_offense = pd.read_excel("CFB Team Stats.xlsx", sheet_name= "Scoring Offense")
scoring_offense.head()

            School   G  TD  FG  1XP  2XP  Safety  Points  Points/G
0  Miami (Florida)  13  73  19   66    5       0     571      43.9
1          Indiana  13  72  10   69    2       1     537      41.3
2      Mississippi  13  62  24   58    0       0     502      38.6
3       Texas Tech  13  60  22   53    4       1     489      37.6
4      Boise State  14  69  13   65    2       0     522      37.3

In [4]:
rushing_offense =  pd.read_excel("CFB Team Stats.xlsx", sheet_name= "Rushing Offense")
rushing_offense.head()

,School,Rush Att,Rush Yards,Rush Avg.,Rush TD,Rush Att/G,Rush Yards/G
0,Army,764,4207,5.51,48,54.57,300.50
1,New Mexico,456,3043,6.67,37,38.00,253.58
2,Jacksonville State,646,3517,5.44,51,46.14,251.21
3,Liberty,542,3008,5.55,28,45.17,250.67
4,UCF,516,2977,5.77,33,43.00,248.08

In [5]:
passing_offense =  pd.read_excel("CFB Team Stats.xlsx", sheet_name= "Passing Offense")
passing_offense.head()

,School,Passing Att,Passing Comp,Passing Pct.,Passing Yards,Passing Yards/Att,Passing TD,Int,Passing Rating,Passing Att/G,Passing Yards/G
0,Syracuse,598,393,65.7,4810,8.0,34,12,148.03,46.0,370.0
1,Mississippi,434,295,68.0,4561,10.5,31,7,176.59,33.4,350.8
2,Miami (Florida),489,328,67.1,4527,9.3,41,8,169.25,37.6,348.2
3,North Texas,562,353,62.8,4267,7.6,33,14,140.99,43.2,328.2
4,San Jose State,552,316,57.2,4183,7.6,31,16,133.64,42.5,321.8

In [6]:
total_offense = pd.read_excel("CFB Team Stats.xlsx", sheet_name="Total Offense")
total_offense.head()

            School  Total Plays  Total Yards  Total Yards/Play  Total Yards/G
0  Miami (Florida)          922         6983              7.57          537.2
1      Mississippi          934         6845              7.33          526.5
2      North Texas          946         6355              6.72          488.8
3       New Mexico          846         5811              6.87          484.3
4      Texas State          957         6200              6.48          476.9

In [7]:
time_of_poss = pd.read_excel("CFB Team Stats.xlsx", sheet_name="Time of Poss",  converters={
        "Total Time": str,
        "Time/G": str
    }
)
time_of_poss.head()

              School         Total Time           Time/G
0               Army   20 days, 5:11:00  00:34:39.360000
1          Air Force  16 days, 22:06:00  00:33:50.500000
2  Northern Illinois   18 days, 1:37:00  00:33:21.310000
3            Memphis   18 days, 0:00:00  00:33:13.850000
4       Oregon State  16 days, 13:51:00  00:33:09.250000

In [8]:
all_offense = scoring_offense.merge(rushing_offense, on="School") \
    .merge(passing_offense, on="School") \
    .merge(total_offense, on="School") \
    .merge(time_of_poss, on="School")
all_offense

,School,G,TD,FG,1XP,2XP,Safety,Points,Points/G,Rush Att,...,Int,Passing Rating,Passing Att/G,Passing Yards/G,Total Plays,Total Yards,Total Yards/Play,Total Yards/G,Total Time,Time/G
0,Miami (Florida),13,73,19,66,5,0,571,43.9,433,...,8,169.25,37.6,348.2,922,6983,7.57,537.2,"17 days, 17:18:00",00:32:42.920000
1,Indiana,13,72,10,69,2,1,537,41.3,491,...,6,174.03,27.8,261.3,852,5543,6.51,426.4,"16 days, 15:08:00",00:30:42.150000
2,Mississippi,13,62,24,58,0,0,502,38.6,500,...,7,176.59,33.4,350.8,934,6845,7.33,526.5,"15 days, 8:59:00",00:28:23
3,Texas Tech,13,60,22,53,4,1,489,37.6,474,...,11,138.13,41.2,296.7,1010,6015,5.96,462.7,"16 days, 8:23:00",00:30:11
4,Boise State,14,69,13,65,2,0,522,37.3,555,...,7,141.75,29.6,225.6,970,6524,6.73,466.0,"18 days, 14:03:00",00:31:51.640000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,Purdue,12,23,9,20,2,0,189,15.8,347,...,9,121.37,27.4,183.9,676,3591,5.31,299.3,"13 days, 10:13:00",00:26:51.080000
130,Florida State,12,20,14,15,3,1,185,15.4,378,...,13,104.54,29.6,180.3,733,3243,4.42,270.3,"13 days, 14:16:00",00:27:11.330000
131,Southern Mississippi,12,22,10,15,3,0,183,15.3,412,...,17,104.55,26.4,174.9,729,3402,4.67,283.5,"13 days, 16:32:00",00:27:22.670000
132,Houston,12,20,10,16,1,0,168,14.0,430,...,17,118.43,23.3,152.7,710,3457,4.87,288.1,"14 days, 22:57:00",00:29:54.750000
133,Kent State,12,22,5,20,0,0,167,13.9,391,...,13,112.24,24.5,156.3,685,2799,4.09,233.3,"13 days, 11:57:00",00:26:59.750000

In [9]:
scoring_defense = pd.read_excel("CFB Team Stats.xlsx", sheet_name= "Scoring Defense")
scoring_defense.head()

              School   G  TD  FG  1XP  2XP  Safety  Points  Points/G
0          Air Force  12  36  10   31    1       0     279      23.3
1              Akron  12  50  11   45    2       1     384      32.0
2            Alabama  13  25  17   19    2       1     226      17.4
3  Appalachian State  11  46  14   42    1       0     362      32.9
4            Arizona  12  49  12   47    2       0     381      31.8

In [10]:
rushing_defense = pd.read_excel("CFB Team Stats.xlsx", sheet_name= "Rushing Defense")
rushing_defense.head()

,School,Rush Att,Rush Yards,Rush Avg.,Rush TD,Rush Att/G,Rush Yards/G
0,Indiana,381,1043,2.74,12,29.31,80.23
1,Mississippi,456,1046,2.29,7,35.08,80.46
2,Ohio State,530,1402,2.65,13,33.13,87.63
3,Ohio,430,1268,2.95,14,30.71,90.57
4,Michigan,385,1179,3.06,10,29.62,90.69

In [11]:
passing_defense = pd.read_excel("CFB Team Stats.xlsx", sheet_name= "Passing Defense")
passing_defense.head()

,School,Passing Att,Passing Comp,Passing Pct.,Passing Yards,Passing Yards/Att,Passing TD,Int,Passing Rating,Passing Att/G,Passing Yards/G
0,Iowa State,372,196,52.7,2318,6.2,18,15,112.94,26.6,165.6
1,Washington,377,210,55.7,2165,5.7,16,8,113.71,29.0,166.5
2,Ohio State,442,267,60.4,2672,6.0,10,10,114.13,27.6,167.0
3,Notre Dame,451,235,52.1,2710,6.0,14,19,104.40,28.2,169.4
4,Northern Illinois,372,200,53.8,2242,6.0,15,9,112.86,28.6,172.5

In [12]:
total_defense = pd.read_excel("CFB Team Stats.xlsx", sheet_name= "Total Defense")
total_defense.head()

,School,Total Plays,Total Yards,Total Yards/Play,Total Yards/G
0,Ohio State,972,4074,4.19,254.6
1,Indiana,778,3332,4.28,256.3
2,Texas,1031,4535,4.40,283.4
3,Northern Illinois,784,3700,4.72,284.6
4,Minnesota,780,3714,4.76,285.7

In [13]:
third_down_defense = pd.read_excel("CFB Team Stats.xlsx", sheet_name= "3rd Down Defense")
third_down_defense.head()

,School,3rd Down Attempts,3rd Down Conversions,3rd Down Conversion %
0,Wyoming,143,37,25.87
1,Northern Illinois,165,44,26.67
2,Utah,175,48,27.43
3,Connecticut,195,58,29.74
4,Missouri,159,48,30.19

In [14]:
sacks = pd.read_excel("CFB Team Stats.xlsx", sheet_name= "Sacks")
sacks.head()

        School  Sacks  Sack Yards  Sacks/G
0  Boise State     55         375     3.93
1   Ohio State     53         362     3.31
2  Mississippi     52         340     4.00
3        Texas     46         319     2.88
4   Penn State     44         302     2.75

In [15]:
passes_defended = pd.read_excel("CFB Team Stats.xlsx", sheet_name= "Passes Defended")
passes_defended.head()

       School  Int.  Passes Broken Up  Passes Defended  Passes Defended/G
0        UNLV    17                73               90               6.43
1       Texas    22                64               86               5.38
2  Notre Dame    19                63               82               5.13
3     Clemson    16                65               81               5.79
4  California    17                59               76               5.85

In [16]:
all_defense = scoring_defense.merge(rushing_defense, on = "School") \
        .merge(passing_defense, on = "School") \
        .merge(total_defense, on="School") \
        .merge(third_down_defense, on="School") \
        .merge(sacks, on = "School") \
        .merge(passes_defended, on = "School")
all_defense

,School,G,TD,FG,1XP,2XP,Safety,Points,Points/G,Rush Att,...,3rd Down Attempts,3rd Down Conversions,3rd Down Conversion %,Sacks,Sack Yards,Sacks/G,Int.,Passes Broken Up,Passes Defended,Passes Defended/G
0,Air Force,12,36,10,31,1,0,279,23.3,403,...,140,52,37.14,18,107,1.50,4,27,31,2.58
1,Akron,12,50,11,45,2,1,384,32.0,476,...,163,63,38.65,18,121,1.50,3,41,44,3.67
2,Alabama,13,25,17,19,2,1,226,17.4,487,...,189,62,32.80,25,172,1.92,17,52,69,5.31
3,Appalachian State,11,46,14,42,1,0,362,32.9,411,...,125,57,45.60,23,122,2.09,4,15,19,1.73
4,Arizona,12,49,12,47,2,0,381,31.8,430,...,152,63,41.45,20,144,1.67,8,36,44,3.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,West Virginia,13,56,8,51,2,0,415,31.9,444,...,156,77,49.36,20,155,1.54,5,29,34,2.62
130,Western Kentucky,14,45,10,45,0,0,345,24.6,619,...,190,84,44.21,22,116,1.57,10,23,33,2.36
131,Western Michigan,13,52,14,47,3,0,407,31.3,500,...,164,70,42.68,19,125,1.46,8,53,61,4.69
132,Wisconsin,12,34,13,34,0,0,277,23.1,428,...,158,62,39.24,17,129,1.42,4,37,41,3.42
133,Wyoming,12,41,18,38,1,0,340,28.3,420,...,143,37,25.87,15,94,1.25,6,34,40,3.33

In [17]:
passing_box = pd.read_excel("CFB Box Scores.xlsx", sheet_name= "Passing")
passing_box["C/ATT"] = passing_box["C/ATT"].str.strip("/") 
passing_box[["Completions", "Attempts"]] = passing_box["C/ATT"].str.split("/", expand = True)
passing_box["Completions"] = pd.to_numeric(passing_box["Completions"])
passing_box["Attempts"] = pd.to_numeric(passing_box["Attempts"])
passing_box

,Player,Team,Home/Away,Spread,C/ATT,YDS,AVG,TD,INT,QBR,Opponent,Yards O/U,TDs O/U,INT O/U,Completions,Attempts
0,Luke Altmyer,Illinois,Home,4.5,16/25,192,7.7,0,0,68.0,Kansas,NaN,NaN,NaN,16,25
1,Luke Altmyer,Illinois,Home,-17.5,19/29,242,8.3,2,0,65.1,Central Michigan,NaN,NaN,NaN,19,29
2,Luke Altmyer,Illinois,Away,9.5,21/27,215,8.0,4,0,85.9,Nebraska,NaN,NaN,NaN,21,27
3,Luke Altmyer,Illinois,Away,19.5,16/25,185,7.4,1,1,36.1,Penn State,NaN,NaN,NaN,16,25
4,Luke Altmyer,Illinois,Home,-21.5,20/34,379,11.1,3,0,91.6,Purdue,NaN,NaN,NaN,20,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,Ethan Garbers,UCLA,Away,8.5,17/25,219,8.8,2,0,94.6,Nebraska,NaN,NaN,NaN,17,25
214,Ethan Garbers,UCLA,Home,6.5,21/34,203,6.0,2,2,66.5,Iowa,NaN,NaN,NaN,21,34
215,Ethan Garbers,UCLA,Away,5.5,27/44,267,6.1,2,0,73.1,Washington,NaN,NaN,NaN,27,44
216,Ethan Garbers,UCLA,Home,4.5,20/29,265,9.1,1,0,46.2,USC,NaN,NaN,NaN,20,29
217,Ethan Garbers,UCLA,Home,-7.5,26/40,289,7.2,1,0,64.8,Fresno State,NaN,NaN,NaN,26,40

In [18]:
defense_stats = pd.read_excel("CFB Model Data.xlsx", sheet_name= "Team Defense")
defense_stats

,Opponent,Opp TD/G,Opp Points/G,Opp Rush Avg.,Opp Rush TD/ G,Opp Rush Att/G,Opp Rush Yards/G,Opp Passing Pct.,Opp Passing Yards/Att,Opp Passing Att/G,Opp Passing Yards/G,Opp Passing Comp / G,Opp Passing TDs /G,Opp INT / G,Opp Total Yards/Play,Opp Total Yards/G,Opp 3rd Down Conversion %,Opp Sacks/G,Opp Passes Defended/G
0,Air Force,3.000000,23.3,4.57,1.916667,33.58,153.42,64.7,7.8,24.1,188.5,15.583333,1.000000,0.333333,5.93,341.9,37.14,1.50,2.58
1,Akron,4.166667,32.0,4.62,1.916667,39.67,183.33,64.4,8.1,28.6,231.1,18.416667,2.000000,0.250000,6.07,414.4,38.65,1.50,3.67
2,Alabama,1.923077,17.4,3.68,0.769231,37.46,137.85,59.7,6.0,30.4,182.2,18.153846,1.000000,1.307692,4.72,320.1,32.80,1.92,5.31
3,Appalachian State,4.181818,32.9,5.29,2.181818,37.36,197.64,68.8,8.4,25.6,214.8,17.636364,1.818182,0.363636,6.55,412.5,45.60,2.09,1.73
4,Arizona,4.083333,31.8,4.86,2.083333,35.83,174.00,63.7,8.1,29.6,239.0,18.833333,1.833333,0.666667,6.31,413.0,41.45,1.67,3.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,West Virginia,4.307692,31.9,4.23,2.153846,34.15,144.38,64.0,9.1,29.7,270.8,19.000000,2.000000,0.384615,6.50,415.2,49.36,1.54,2.62
130,Western Kentucky,3.214286,24.6,5.00,1.857143,44.21,221.21,60.7,7.7,22.9,176.1,13.928571,1.285714,0.714286,5.92,397.3,44.21,1.57,2.36
131,Western Michigan,4.000000,31.3,5.00,2.153846,38.46,192.46,61.3,8.4,26.5,222.6,16.230769,1.538462,0.615385,6.39,415.1,42.68,1.46,4.69
132,Wisconsin,2.833333,23.1,4.63,1.666667,35.67,165.00,62.5,6.6,26.9,177.7,16.833333,1.000000,0.333333,5.48,342.7,39.24,1.42,3.42
133,Wyoming,3.416667,28.3,5.48,1.750000,35.00,191.67,61.7,7.7,28.5,218.9,17.583333,1.333333,0.500000,6.47,410.6,25.87,1.25,3.33

In [19]:
offense_stats = pd.read_excel("CFB Model Data.xlsx", sheet_name= "Team Offense")
offense_stats

,Team,Team TD/G,Team Points/G,Team Rush Avg.,Team RUSH TD/G,Team Rush Att/G,Team Rush Yards/G,Team Passing Pct.,Team Passing Yards/Att,Team Passing TD / G,Team INT/G,Team Passing Att/G,Team Passing Yards/G,Team Total Yards/Play,Team Total Yards/G,Team Time/G
0,Miami (Florida),5.615385,43.9,5.67,2.307692,33.31,188.92,67.1,9.3,3.153846,0.615385,37.6,348.2,7.57,537.2,00:32:42.920000
1,Indiana,5.538462,41.3,4.37,2.846154,37.77,165.08,68.1,9.4,2.538462,0.461538,27.8,261.3,6.51,426.4,00:30:42.150000
2,Mississippi,4.769231,38.6,4.57,2.230769,38.46,175.69,68.0,10.5,2.384615,0.538462,33.4,350.8,7.33,526.5,00:28:23
3,Texas Tech,4.615385,37.6,4.55,2.000000,36.46,166.00,62.7,7.2,2.384615,0.846154,41.2,296.7,5.96,462.7,00:30:11
4,Boise State,4.928571,37.3,6.06,3.071429,39.64,240.36,62.9,7.6,1.642857,0.500000,29.6,225.6,6.73,466.0,00:31:51.640000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,Purdue,1.916667,15.8,3.99,0.750000,28.92,115.33,57.4,6.7,1.083333,0.750000,27.4,183.9,5.31,299.3,00:26:51.080000
130,Florida State,1.666667,15.4,2.85,0.666667,31.50,89.92,50.4,6.1,0.916667,1.083333,29.6,180.3,4.42,270.3,00:27:11.330000
131,Southern Mississippi,1.833333,15.3,3.16,1.083333,34.33,108.58,52.4,6.6,0.583333,1.416667,26.4,174.9,4.67,283.5,00:27:22.670000
132,Houston,1.666667,14.0,3.78,0.750000,35.83,135.42,65.0,6.5,0.750000,1.416667,23.3,152.7,4.87,288.1,00:29:54.750000
133,Kent State,1.833333,13.9,2.36,0.250000,32.58,76.92,47.3,6.4,1.500000,1.083333,24.5,156.3,4.09,233.3,00:26:59.750000

In [20]:
qb_stats = pd.read_excel("CFB Player Stats.xlsx", sheet_name="Passing Model Data")
qb_stats

,Player,Pos,Player Cmp%,Player TD%,Player Int%,Player YDS / ATT,Player ADJUSTED YDS / ATT,Player YDS / COMP,Player YDS / G,Player TD/G,Player INT / G,Player ATT / G,Player COMP / G
0,Luke Altmyer,QB,60.8,6.3,1.7,7.8,8.32,12.9,209.0,1.692308,0.461538,26.692308,16.230769
1,Kurtis Rourke,QB,69.4,9.1,1.6,9.5,10.62,13.7,253.5,2.416667,0.416667,26.666667,18.500000
2,Cade McNamara,QB,60.5,3.5,2.9,5.9,5.30,9.8,127.1,0.750000,0.625000,21.500000,13.000000
3,Brendan Sullivan,QB,71.7,5.7,5.7,9.0,7.55,12.5,47.5,0.300000,0.300000,5.300000,3.800000
4,Jackson Stratton,QB,60.0,2.9,0.0,6.3,6.83,10.4,73.0,0.333333,0.000000,11.666667,7.000000
5,Billy Edwards Jr.,QB,65.0,3.6,2.1,6.9,6.61,10.6,261.9,1.363636,0.818182,38.181818,24.818182
6,MJ Morris,QB,59.0,8.2,8.2,5.7,3.69,9.7,50.0,0.714286,0.714286,8.714286,5.142857
7,Aidan Chiles,QB,59.4,4.0,3.4,7.5,6.75,12.6,201.3,1.083333,0.916667,26.916667,16.000000
8,Tommy Schuster,QB,69.0,0.0,0.0,7.0,6.97,10.1,40.4,0.000000,0.000000,5.800000,4.000000
9,Davis Warren,QB,64.1,3.3,4.3,5.7,4.47,8.9,133.2,0.777778,1.000000,23.222222,14.888889
10,Jack Tuttle,QB,60.0,2.0,4.0,6.1,4.72,10.2,153.0,0.500000,1.000000,25.000000,15.000000
11,Alex Orji,QB,53.2,6.4,4.3,3.2,2.55,6.0,13.6,0.272727,0.181818,4.272727,2.272727
12,Max Brosmer,QB,66.5,4.5,1.5,7.0,7.24,10.6,217.5,1.384615,0.461538,31.000000,20.615385
13,Dylan Raiola,QB,67.1,3.2,2.7,6.9,6.30,10.3,216.8,1.000000,0.846154,31.538462,21.153846
14,Heinrich Haarberg,QB,55.6,0.0,5.6,5.6,3.11,10.1,8.4,0.000000,0.083333,1.500000,0.833333
15,Jack Lausch,QB,53.7,2.4,2.7,5.8,5.05,10.8,171.4,0.700000,0.800000,29.600000,15.900000
16,Mike Wright,QB,57.6,0.0,1.5,5.4,4.68,9.3,118.0,0.000000,0.333333,22.000000,12.666667
17,Ryan Hilinski,QB,60.0,0.0,6.7,8.1,5.07,13.4,30.3,0.000000,0.250000,3.750000,2.250000
18,Ryan Boe,QB,30.8,0.0,7.7,3.2,-0.23,10.5,42.0,0.000000,1.000000,13.000000,4.000000
19,Will Howard,QB,73.0,8.3,2.4,9.5,10.07,13.0,250.6,2.187500,0.625000,26.437500,19.312500
20,Dillon Gabriel,QB,72.9,6.7,1.3,8.6,9.37,11.8,275.5,2.142857,0.428571,31.928571,23.285714
21,Drew Allar,QB,66.5,6.1,2.0,8.4,8.75,12.7,207.9,1.500000,0.500000,24.625000,16.375000
22,Beau Pribula,QB,74.3,14.3,2.9,7.9,9.43,10.6,21.2,0.384615,0.076923,2.692308,2.000000
23,Hudson Card,QB,58.1,3.6,2.8,6.6,6.07,11.4,164.1,0.900000,0.700000,24.800000,14.400000
24,Ryan Browne,QB,56.6,5.3,2.6,7.0,6.87,12.4,66.5,0.500000,0.250000,9.500000,5.375000
25,Athan Kaliakmanis,QB,53.9,4.6,1.8,6.8,6.94,12.7,207.4,1.384615,0.538462,30.384615,16.384615
26,Miller Moss,QB,64.4,5.0,2.5,7.1,6.93,11.0,283.9,2.000000,1.000000,40.222222,25.888889
27,Jayden Maiava,QB,59.8,6.5,3.6,7.1,6.81,11.9,171.6,1.571429,0.857143,24.142857,14.428571
28,Will Rogers,QB,70.7,4.5,2.3,7.9,7.79,11.2,223.5,1.272727,0.636364,28.272727,20.000000
29,Demond Williams Jr.,QB,78.1,7.6,1.0,9.0,10.09,11.5,72.6,0.615385,0.076923,8.076923,6.307692
30,Braedyn Locke,QB,55.4,4.4,3.4,6.5,5.90,11.8,176.0,1.181818,0.909091,26.909091,14.909091
31,Tyler Van Dyke,QB,63.2,1.5,0.0,6.2,6.50,9.8,140.7,0.333333,0.000000,22.666667,14.333333
32,Mabrey Mettauer,QB,100.0,0.0,0.0,2.0,2.00,2.0,0.7,0.000000,0.000000,0.333333,0.333333
33,Ethan Garbers,QB,64.7,4.4,3.0,7.5,7.03,11.6,247.9,1.454545,1.000000,33.000000,21.363636
34,Justyn Martin,QB,68.6,2.9,0.0,5.1,5.69,7.5,59.7,0.333333,0.000000,11.666667,8.000000

In [21]:
all_pass = passing_box.merge(qb_stats, on = "Player")
all_pass = all_pass.merge(offense_stats, on = "Team")
all_pass = all_pass.merge(defense_stats, on = "Opponent")
all_pass

,Player,Team,Home/Away,Spread,C/ATT,YDS,AVG,TD,INT,QBR,...,Opp Passing Att/G,Opp Passing Yards/G,Opp Passing Comp / G,Opp Passing TDs /G,Opp INT / G,Opp Total Yards/Play,Opp Total Yards/G,Opp 3rd Down Conversion %,Opp Sacks/G,Opp Passes Defended/G
0,Luke Altmyer,Illinois,Home,4.5,16/25,192,7.7,0,0,68.0,...,30.0,239.1,18.916667,2.083333,1.000000,6.10,392.6,44.08,2.33,4.67
1,Luke Altmyer,Illinois,Home,-17.5,19/29,242,8.3,2,0,65.1,...,27.3,193.8,16.416667,1.416667,0.166667,5.64,363.6,33.75,2.58,3.50
2,Luke Altmyer,Illinois,Away,9.5,21/27,215,8.0,4,0,85.9,...,29.2,216.7,18.615385,1.769231,0.846154,5.37,317.9,35.22,2.31,4.08
3,Luke Altmyer,Illinois,Away,19.5,16/25,185,7.4,1,1,36.1,...,29.7,192.9,17.812500,1.125000,1.250000,4.67,294.8,37.16,2.75,4.50
4,Luke Altmyer,Illinois,Home,-21.5,20/34,379,11.1,3,0,91.6,...,27.6,252.7,18.166667,2.250000,0.333333,6.76,452.7,48.30,1.83,2.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,Ethan Garbers,UCLA,Away,8.5,17/25,219,8.8,2,0,94.6,...,29.2,216.7,18.615385,1.769231,0.846154,5.37,317.9,35.22,2.31,4.08
169,Ethan Garbers,UCLA,Home,6.5,21/34,203,6.0,2,2,66.5,...,32.3,203.1,20.000000,1.538462,1.230769,5.01,318.4,36.42,2.23,4.54
170,Ethan Garbers,UCLA,Away,5.5,27/44,267,6.1,2,0,73.1,...,29.0,166.5,16.153846,1.230769,0.615385,5.09,328.4,43.82,1.54,4.46
171,Ethan Garbers,UCLA,Home,4.5,20/29,265,9.1,1,0,46.2,...,33.6,235.8,22.769231,1.153846,0.923077,5.83,377.1,33.53,1.62,4.31
172,Ethan Garbers,UCLA,Home,-7.5,26/40,289,7.2,1,0,64.8,...,36.1,216.2,19.692308,1.615385,1.153846,4.90,355.6,35.26,1.85,5.15

In [22]:
home_away_map = {
    "Home" : 1, 
    "Away" : 0, 
    "Neutral Site": 2
}
all_pass["Home/Away"] = all_pass["Home/Away"].map(home_away_map)
all_pass.to_excel("a.xlsx")

In [23]:
passing = pd.read_excel("CFB Model Data.xlsx", sheet_name = "Passing", skiprows=1)
passing.to_csv("passing.csv")

In [24]:
rush_box =  pd.read_excel("CFB Box Scores.xlsx", sheet_name= "Rushing")
rush_box["Player"] = rush_box["Player"].str.replace(r"#\d+", "", regex=True).str.strip()
rush_box

,Player,Team,Home/Away,Spread,CAR,YDS,AVG,TD,LONG,Opponent
0,Kaden Feagin,Illinois,Home,4.5,16,40,2.5,1,8,Kansas
1,Ca'Lil Valentine,Illinois,Home,4.5,8,25,3.1,0,10,Kansas
2,Aidan Laughery,Illinois,Home,4.5,4,10,2.5,0,5,Kansas
3,Luke Altmyer,Illinois,Home,4.5,6,4,0.7,0,18,Kansas
4,Josh McCray,Illinois,Home,-17.5,8,54,6.8,0,28,Central Michigan
...,...,...,...,...,...,...,...,...,...,...
985,Ethan Garbers,UCLA,Home,4.5,8,6,0.8,0,8,USC
986,Anthony Frias II,UCLA,Home,-7.5,13,43,3.3,0,8,Fresno State
987,T.J. Harden,UCLA,Home,-7.5,4,23,5.8,1,7,Fresno State
988,Keegan Jones,UCLA,Home,-7.5,7,8,1.1,0,4,Fresno State
989,Ethan Garbers,UCLA,Home,-7.5,7,2,0.3,0,9,Fresno State

In [25]:
rush_stats = pd.read_excel("CFB Player Stats.xlsx", sheet_name= "Rushing Model Data")
rush_stats = rush_stats.fillna(0)
rush_stats

                     Player Pos   ATT / G  Rush Y/A  Rush Y/G    TD / G
0           Jordan Anderson  RB  0.461538       2.0       0.9  0.000000
1          Zakhari Franklin  WR  0.000000       0.0       0.0  0.000000
2              Tanner Arkin  TE  0.076923      36.0       2.8  0.000000
3              Luke Altmyer  QB  7.615385       2.2      16.7  0.307692
4            Kenari Wilcher  WR  0.000000       0.0       0.0  0.000000
..                      ...  ..       ...       ...       ...       ...
360  Titus Mokiao-Atimalala  WR  0.111111       2.0       0.2  0.000000
361            Jalen Berger  RB  6.000000       3.7      22.3  0.000000
362             Carter Shaw  WR  0.333333       4.5       1.5  0.000000
363         Rico Flores Jr.  WR  0.000000       0.0       0.0  0.000000
364           Justyn Martin  QB  2.666667      -1.1      -3.0  0.000000

[365 rows x 6 columns]

In [26]:
all_rush = rush_box.merge(rush_stats, on = "Player")
all_rush = all_rush.merge(offense_stats, on = "Team")
all_rush = all_rush.merge(defense_stats, on = "Opponent")
all_rush["Home/Away"] = all_rush["Home/Away"].map(home_away_map)
all_rush

,Player,Team,Home/Away,Spread,CAR,YDS,AVG,TD,LONG,Opponent,...,Opp Passing Att/G,Opp Passing Yards/G,Opp Passing Comp / G,Opp Passing TDs /G,Opp INT / G,Opp Total Yards/Play,Opp Total Yards/G,Opp 3rd Down Conversion %,Opp Sacks/G,Opp Passes Defended/G
0,Kaden Feagin,Illinois,1,4.5,16,40,2.5,1,8,Kansas,...,30.0,239.1,18.916667,2.083333,1.000000,6.10,392.6,44.08,2.33,4.67
1,Ca'Lil Valentine,Illinois,1,4.5,8,25,3.1,0,10,Kansas,...,30.0,239.1,18.916667,2.083333,1.000000,6.10,392.6,44.08,2.33,4.67
2,Aidan Laughery,Illinois,1,4.5,4,10,2.5,0,5,Kansas,...,30.0,239.1,18.916667,2.083333,1.000000,6.10,392.6,44.08,2.33,4.67
3,Luke Altmyer,Illinois,1,4.5,6,4,0.7,0,18,Kansas,...,30.0,239.1,18.916667,2.083333,1.000000,6.10,392.6,44.08,2.33,4.67
4,Josh McCray,Illinois,1,-17.5,8,54,6.8,0,28,Central Michigan,...,27.3,193.8,16.416667,1.416667,0.166667,5.64,363.6,33.75,2.58,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
834,Ethan Garbers,UCLA,1,4.5,8,6,0.8,0,8,USC,...,33.6,235.8,22.769231,1.153846,0.923077,5.83,377.1,33.53,1.62,4.31
835,Anthony Frias II,UCLA,1,-7.5,13,43,3.3,0,8,Fresno State,...,36.1,216.2,19.692308,1.615385,1.153846,4.90,355.6,35.26,1.85,5.15
836,T.J. Harden,UCLA,1,-7.5,4,23,5.8,1,7,Fresno State,...,36.1,216.2,19.692308,1.615385,1.153846,4.90,355.6,35.26,1.85,5.15
837,Keegan Jones,UCLA,1,-7.5,7,8,1.1,0,4,Fresno State,...,36.1,216.2,19.692308,1.615385,1.153846,4.90,355.6,35.26,1.85,5.15
838,Ethan Garbers,UCLA,1,-7.5,7,2,0.3,0,9,Fresno State,...,36.1,216.2,19.692308,1.615385,1.153846,4.90,355.6,35.26,1.85,5.15

In [27]:
all_rush.to_excel("a.xlsx")

In [28]:
all_pos_rush = pd.read_excel("CFB Model Data.xlsx", sheet_name= "RB Rushing", skiprows= 1)
rbs = all_pos_rush[all_pos_rush["Pos"] == "RB"]

In [29]:
rbs.to_csv("rb rushing.csv")

In [30]:
recieving_box = pd.read_excel("CFB Box Scores.xlsx", sheet_name= "Recieving")
recieving_box["Player"] = recieving_box["Player"].str.replace(r"#\d+", "", regex=True).str.strip()
recieving_box

,Player,Team,Home/Away,Spread,REC,YDS,AVG,TD,LONG,Opponent
0,Zakhari Franklin,Illinois,Home,4.5,9,99,11.0,0,42,Kansas
1,Pat Bryant,Illinois,Home,4.5,3,70,23.3,0,37,Kansas
2,Tanner Arkin,Illinois,Home,4.5,1,16,16.0,0,16,Kansas
3,Kaden Feagin,Illinois,Home,4.5,1,9,9.0,0,9,Kansas
4,Josh McCray,Illinois,Home,4.5,2,-2,-1.0,0,2,Kansas
...,...,...,...,...,...,...,...,...,...,...
1457,Logan Loya,UCLA,Home,-7.5,2,40,20.0,0,21,Fresno State
1458,Anthony Frias II,UCLA,Home,-7.5,2,18,9.0,0,14,Fresno State
1459,Jack Pedersen,UCLA,Home,-7.5,1,13,13.0,0,13,Fresno State
1460,J. Michael Sturdivant,UCLA,Home,-7.5,2,4,2.0,1,2,Fresno State
1461,T.J. Harden,UCLA,Home,-7.5,2,-5,-2.5,0,3,Fresno State

In [31]:
rec_stats = pd.read_excel("CFB Player Stats.xlsx", sheet_name= "Receiving Model Data")
rec_stats = rec_stats.fillna(0)
rec_stats

,Player,Pos,Player Rec Y/G,Player Rec Y/R,Player Catch / G,Player TD / G
0,Jordan Anderson,RB,0.0,0.0,0.000000,0.000000
1,Zakhari Franklin,WR,50.2,11.9,4.230769,0.307692
2,Tanner Arkin,TE,8.5,6.9,1.230769,0.230769
3,Luke Altmyer,QB,0.2,3.0,0.076923,0.000000
4,Kenari Wilcher,WR,2.3,7.5,0.307692,0.000000
...,...,...,...,...,...,...
360,Titus Mokiao-Atimalala,WR,32.7,10.5,3.111111,0.111111
361,Jalen Berger,RB,7.4,5.9,1.250000,0.250000
362,Carter Shaw,WR,7.5,22.5,0.333333,0.000000
363,Rico Flores Jr.,WR,46.8,15.6,3.000000,0.250000
364,Justyn Martin,QB,0.0,0.0,0.000000,0.000000

In [32]:
all_rec = recieving_box.merge(rec_stats, on = "Player")
all_rec = all_rec.merge(offense_stats, on = "Team")
all_rec = all_rec.merge(defense_stats, on = "Opponent")
all_rec["Home/Away"] = all_rec["Home/Away"].map(home_away_map)
all_rec

,Player,Team,Home/Away,Spread,REC,YDS,AVG,TD,LONG,Opponent,...,Opp Passing Att/G,Opp Passing Yards/G,Opp Passing Comp / G,Opp Passing TDs /G,Opp INT / G,Opp Total Yards/Play,Opp Total Yards/G,Opp 3rd Down Conversion %,Opp Sacks/G,Opp Passes Defended/G
0,Zakhari Franklin,Illinois,1,4.5,9,99,11.0,0,42,Kansas,...,30.0,239.1,18.916667,2.083333,1.000000,6.1,392.6,44.08,2.33,4.67
1,Pat Bryant,Illinois,1,4.5,3,70,23.3,0,37,Kansas,...,30.0,239.1,18.916667,2.083333,1.000000,6.1,392.6,44.08,2.33,4.67
2,Tanner Arkin,Illinois,1,4.5,1,16,16.0,0,16,Kansas,...,30.0,239.1,18.916667,2.083333,1.000000,6.1,392.6,44.08,2.33,4.67
3,Kaden Feagin,Illinois,1,4.5,1,9,9.0,0,9,Kansas,...,30.0,239.1,18.916667,2.083333,1.000000,6.1,392.6,44.08,2.33,4.67
4,Josh McCray,Illinois,1,4.5,2,-2,-1.0,0,2,Kansas,...,30.0,239.1,18.916667,2.083333,1.000000,6.1,392.6,44.08,2.33,4.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1338,Logan Loya,UCLA,1,-7.5,2,40,20.0,0,21,Fresno State,...,36.1,216.2,19.692308,1.615385,1.153846,4.9,355.6,35.26,1.85,5.15
1339,Anthony Frias II,UCLA,1,-7.5,2,18,9.0,0,14,Fresno State,...,36.1,216.2,19.692308,1.615385,1.153846,4.9,355.6,35.26,1.85,5.15
1340,Jack Pedersen,UCLA,1,-7.5,1,13,13.0,0,13,Fresno State,...,36.1,216.2,19.692308,1.615385,1.153846,4.9,355.6,35.26,1.85,5.15
1341,J. Michael Sturdivant,UCLA,1,-7.5,2,4,2.0,1,2,Fresno State,...,36.1,216.2,19.692308,1.615385,1.153846,4.9,355.6,35.26,1.85,5.15
1342,T.J. Harden,UCLA,1,-7.5,2,-5,-2.5,0,3,Fresno State,...,36.1,216.2,19.692308,1.615385,1.153846,4.9,355.6,35.26,1.85,5.15

In [33]:
all_rec.to_excel("a.xlsx")

In [34]:
skill_pos_rec = all_rec[all_rec["Pos"].isin(["WR", "RB", "TE"])]
skill_pos_rec.to_excel("a.xlsx")

In [37]:
week_1 = pd.read_excel("CFB 25 Passing Betting Data.xlsx", sheet_name= "Calculation Sheet", skiprows= 1)
week_1

,Player,Pos,Team,Home/Away,Spread,Opponent,Yds O/U,Player Cmp%,Player TD%,Player Int%,...,Opp Passing Comp / G,Opp Passing TDs /G,Opp INT / G,Opp Total Yards/Play,Opp Total Yards/G,Opp 3rd Down Conversion %,Opp Sacks/G,Opp Passes Defended/G,Predicted Yards,Column1
0,Variable Coefficients,NaN,NaN,NaN,NaN,NaN,NaN,-149.5345,-2197.6421,5461.67903,...,-10.118898,-124.154530,-21.088857,-439.07291,-230.89976,1.550068,-11.188042,-1.21475,NaN,NaN
1,Nico Iamaleava,QB,UCLA,1.0,6.5,Utah,NaN,63.8000,5.7000,1.50000,...,16.583333,1.250000,1.000000,5.05000,329.70000,27.430000,12.000000,5.50000,1267.673960,O
2,Devon Dampier,QB,Utah,1.0,-6.5,UCLA,NaN,57.9000,3.1000,3.10000,...,22.416667,1.583333,0.833333,5.41000,340.80000,48.390000,10.000000,5.00000,1681.743253,O
3,Drew Allar,QB,Penn State,1.0,-29.5,UCLA,NaN,66.5000,6.1000,2.00000,...,22.416667,1.583333,0.833333,5.41000,340.80000,48.390000,10.000000,5.00000,135.912843,O
4,Dylan Raiola,QB,Nebraska,0.0,-6.5,Cincinnati,246.5,67.1000,3.2000,2.70000,...,17.750000,1.333333,0.416667,6.07000,385.40000,38.990000,5.000000,3.42000,221.139742,U
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,yeet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN